html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-form {
    padding-right: 30px;
    padding-top: 15px;
}

.layui-input {
    margin-bottom: 10px;
}